* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Orbitron", sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(https://img.freepik.com/premium-vector/green-matrix-background-falling-numbers-screen-technology-stream-binary-code-digital-vector-illustration-hacking-concept_658411-81.jpg?w=740);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

body::before{
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0,0.7);
    position: absolute;
}

.container {
    position: relative;
    text-align: center;
    width: 680px;
    padding: 40px;
    background-color: rgb(0, 0, 0);
    border: solid 1px #004700;
    border-radius: 9px;
}

h3 {
    color: #029602fb;
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 4rem;
}

.boxCopy{
    margin: 1.5rem 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.7rem;
    
}

.btn {
    background: #000;
    padding: 1rem;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.5s;
}

.btn:hover,
a:hover{
background: #54555433;

}

.boxCopy input{
    padding: 1.3rem;
    outline: none;
    border: 1px solid #002c00fb;
    width: 80%;
    border-radius: 2rem;
    align-self: center;
    font-size: 1.2rem;
    font-weight: 700;
    color: #029602fb;
    background-color: #000;
 
}

a {
    padding: 0.5rem;
    display: inline-block;  
    background-color: #000;
    border: #004700 solid 1px;
    border-radius: 50%;
}

a span img{
    width: 1.7rem;    
}

a::before{
    content: 'copied!';
    position: absolute;
    top: -2.8rem;
    right: 2.5rem;
    background-color: #464747e3;
    padding: .2rem .5rem;
    color: #adadad;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 20%;
    z-index: 99;
    display: none;


}

a::after{
    content: '';
    position: absolute;
    top: -1.9rem;
    right: 3rem;
    width: 1rem;
    height: 1rem;
    background-color: #323333;
    transform: rotate(45deg);
    display: none;
}

a.active::after,
a.active::before{
    display: block;
}


