*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
 
}

@font-face {
  font-family: pastelorange;
  src: url(/font/Pastel\ Orange.otf);
  font-family: pastelorange2;
  src: url(/font/Pastel\ Orange.ttf);

}


/*NAV BAR*/

.nav{
    background: #ebdbdb00;
    font-family: pastelorange2;
    z-index: 100;
   display: flex;
   justify-content: space-around;
  min-width: 100%;
 
  }

 .nav a:nth-child(3) {
  font-size: 3rem;
 
 }

 a {
  text-decoration: none;
  color: #fcfcfc91;  
  font-size: 2rem;
  font-weight: 400; 
  padding: 0px 25px; 
  align-content: center;
 
}


body {

	background-image: url(/img/note.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100vh;
	z-index: 1;
  
  
  }

  .container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 48rem;
	padding-left: 60rem;
	
  }

  .container .icons img {
	height: 2.1rem; 
	margin-left: 0rem;
}

p {
	font-size: 1.9rem;
	text-align: center;
	white-space: break-all;
	align-items: stretch;
	justify-content: stretch;
	overflow: hidden;
	font-family:  pastelorange2;
	color: rgba(250, 235, 215, 0.692);
	margin-top: 1rem;
}

  